<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.htkk.persistence.dao.generator.TransactionPointHistoryMapper">
  <resultMap id="BaseResultMap" type="jp.co.htkk.entity.generator.TransactionPointHistory">
    <id column="transaction_point_history_id" jdbcType="BIGINT" property="transactionPointHistoryId" />
    <result column="transaction_point_id" jdbcType="BIGINT" property="transactionPointId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="transaction_time" jdbcType="TIMESTAMP" property="transactionTime" />
    <result column="transaction_type" jdbcType="SMALLINT" property="transactionType" />
    <result column="amount_point" jdbcType="INTEGER" property="amountPoint" />
    <result column="transaction_status" jdbcType="SMALLINT" property="transactionStatus" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="total_point" jdbcType="INTEGER" property="totalPoint" />
    <result column="rest_point" jdbcType="INTEGER" property="restPoint" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="del_flag" jdbcType="SMALLINT" property="delFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="jp.co.htkk.entity.generator.TransactionPointHistory">
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    transaction_point_history_id, transaction_point_id, user_id, transaction_time, transaction_type, 
    amount_point, transaction_status, device_id, total_point, rest_point, created_by, 
    created_at, updated_by, updated_at, del_flag
  </sql>
  <sql id="Blob_Column_List">
    message
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from transaction_point_history
    where transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from transaction_point_history
    where transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria">
    delete from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory">
    <selectKey keyProperty="transactionPointHistoryId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into transaction_point_history (transaction_point_id, user_id, transaction_time, 
      transaction_type, amount_point, transaction_status, 
      device_id, total_point, rest_point, 
      created_by, created_at, updated_by, 
      updated_at, del_flag, message
      )
    values (#{transactionPointId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{transactionTime,jdbcType=TIMESTAMP}, 
      #{transactionType,jdbcType=SMALLINT}, #{amountPoint,jdbcType=INTEGER}, #{transactionStatus,jdbcType=SMALLINT}, 
      #{deviceId,jdbcType=VARCHAR}, #{totalPoint,jdbcType=INTEGER}, #{restPoint,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=SMALLINT}, #{message,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory">
    <selectKey keyProperty="transactionPointHistoryId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into transaction_point_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionPointId != null">
        transaction_point_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="transactionTime != null">
        transaction_time,
      </if>
      <if test="transactionType != null">
        transaction_type,
      </if>
      <if test="amountPoint != null">
        amount_point,
      </if>
      <if test="transactionStatus != null">
        transaction_status,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="totalPoint != null">
        total_point,
      </if>
      <if test="restPoint != null">
        rest_point,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transactionPointId != null">
        #{transactionPointId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="transactionTime != null">
        #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionType != null">
        #{transactionType,jdbcType=SMALLINT},
      </if>
      <if test="amountPoint != null">
        #{amountPoint,jdbcType=INTEGER},
      </if>
      <if test="transactionStatus != null">
        #{transactionStatus,jdbcType=SMALLINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null">
        #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="restPoint != null">
        #{restPoint,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=SMALLINT},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria" resultType="java.lang.Long">
    select count(*) from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transaction_point_history
    <set>
      <if test="record.transactionPointHistoryId != null">
        transaction_point_history_id = #{record.transactionPointHistoryId,jdbcType=BIGINT},
      </if>
      <if test="record.transactionPointId != null">
        transaction_point_id = #{record.transactionPointId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.transactionTime != null">
        transaction_time = #{record.transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transactionType != null">
        transaction_type = #{record.transactionType,jdbcType=SMALLINT},
      </if>
      <if test="record.amountPoint != null">
        amount_point = #{record.amountPoint,jdbcType=INTEGER},
      </if>
      <if test="record.transactionStatus != null">
        transaction_status = #{record.transactionStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.totalPoint != null">
        total_point = #{record.totalPoint,jdbcType=INTEGER},
      </if>
      <if test="record.restPoint != null">
        rest_point = #{record.restPoint,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=BIGINT},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=SMALLINT},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update transaction_point_history
    set transaction_point_history_id = #{record.transactionPointHistoryId,jdbcType=BIGINT},
      transaction_point_id = #{record.transactionPointId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      transaction_time = #{record.transactionTime,jdbcType=TIMESTAMP},
      transaction_type = #{record.transactionType,jdbcType=SMALLINT},
      amount_point = #{record.amountPoint,jdbcType=INTEGER},
      transaction_status = #{record.transactionStatus,jdbcType=SMALLINT},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      total_point = #{record.totalPoint,jdbcType=INTEGER},
      rest_point = #{record.restPoint,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=BIGINT},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=BIGINT},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=SMALLINT},
      message = #{record.message,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transaction_point_history
    set transaction_point_history_id = #{record.transactionPointHistoryId,jdbcType=BIGINT},
      transaction_point_id = #{record.transactionPointId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      transaction_time = #{record.transactionTime,jdbcType=TIMESTAMP},
      transaction_type = #{record.transactionType,jdbcType=SMALLINT},
      amount_point = #{record.amountPoint,jdbcType=INTEGER},
      transaction_status = #{record.transactionStatus,jdbcType=SMALLINT},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      total_point = #{record.totalPoint,jdbcType=INTEGER},
      rest_point = #{record.restPoint,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=BIGINT},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=BIGINT},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory">
    update transaction_point_history
    <set>
      <if test="transactionPointId != null">
        transaction_point_id = #{transactionPointId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="transactionTime != null">
        transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionType != null">
        transaction_type = #{transactionType,jdbcType=SMALLINT},
      </if>
      <if test="amountPoint != null">
        amount_point = #{amountPoint,jdbcType=INTEGER},
      </if>
      <if test="transactionStatus != null">
        transaction_status = #{transactionStatus,jdbcType=SMALLINT},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null">
        total_point = #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="restPoint != null">
        rest_point = #{restPoint,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=SMALLINT},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory">
    update transaction_point_history
    set transaction_point_id = #{transactionPointId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      transaction_type = #{transactionType,jdbcType=SMALLINT},
      amount_point = #{amountPoint,jdbcType=INTEGER},
      transaction_status = #{transactionStatus,jdbcType=SMALLINT},
      device_id = #{deviceId,jdbcType=VARCHAR},
      total_point = #{totalPoint,jdbcType=INTEGER},
      rest_point = #{restPoint,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=SMALLINT},
      message = #{message,jdbcType=LONGVARCHAR}
    where transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory">
    update transaction_point_history
    set transaction_point_id = #{transactionPointId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      transaction_type = #{transactionType,jdbcType=SMALLINT},
      amount_point = #{amountPoint,jdbcType=INTEGER},
      transaction_status = #{transactionStatus,jdbcType=SMALLINT},
      device_id = #{deviceId,jdbcType=VARCHAR},
      total_point = #{totalPoint,jdbcType=INTEGER},
      rest_point = #{restPoint,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=SMALLINT}
    where transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectOneByExample" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleWithBLOBs" parameterType="jp.co.htkk.entity.generator.TransactionPointHistoryCriteria" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from transaction_point_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" keyColumn="transaction_point_history_id" keyProperty="transactionPointHistoryId" parameterType="map" useGeneratedKeys="true">
    insert into transaction_point_history
    (transaction_point_id, user_id, transaction_time, transaction_type, amount_point, 
      transaction_status, device_id, total_point, rest_point, created_by, created_at, 
      updated_by, updated_at, del_flag, message)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.transactionPointId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.transactionTime,jdbcType=TIMESTAMP}, 
        #{item.transactionType,jdbcType=SMALLINT}, #{item.amountPoint,jdbcType=INTEGER}, 
        #{item.transactionStatus,jdbcType=SMALLINT}, #{item.deviceId,jdbcType=VARCHAR}, 
        #{item.totalPoint,jdbcType=INTEGER}, #{item.restPoint,jdbcType=INTEGER}, #{item.createdBy,jdbcType=BIGINT}, 
        #{item.createdAt,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedAt,jdbcType=TIMESTAMP}, 
        #{item.delFlag,jdbcType=SMALLINT}, #{item.message,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="transaction_point_history_id" keyProperty="list.transactionPointHistoryId" parameterType="map" useGeneratedKeys="true">
    insert into transaction_point_history (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'transaction_point_id'.toString() == column.value">
          #{item.transactionPointId,jdbcType=BIGINT}
        </if>
        <if test="'user_id'.toString() == column.value">
          #{item.userId,jdbcType=BIGINT}
        </if>
        <if test="'transaction_time'.toString() == column.value">
          #{item.transactionTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'transaction_type'.toString() == column.value">
          #{item.transactionType,jdbcType=SMALLINT}
        </if>
        <if test="'amount_point'.toString() == column.value">
          #{item.amountPoint,jdbcType=INTEGER}
        </if>
        <if test="'transaction_status'.toString() == column.value">
          #{item.transactionStatus,jdbcType=SMALLINT}
        </if>
        <if test="'device_id'.toString() == column.value">
          #{item.deviceId,jdbcType=VARCHAR}
        </if>
        <if test="'total_point'.toString() == column.value">
          #{item.totalPoint,jdbcType=INTEGER}
        </if>
        <if test="'rest_point'.toString() == column.value">
          #{item.restPoint,jdbcType=INTEGER}
        </if>
        <if test="'created_by'.toString() == column.value">
          #{item.createdBy,jdbcType=BIGINT}
        </if>
        <if test="'created_at'.toString() == column.value">
          #{item.createdAt,jdbcType=TIMESTAMP}
        </if>
        <if test="'updated_by'.toString() == column.value">
          #{item.updatedBy,jdbcType=BIGINT}
        </if>
        <if test="'updated_at'.toString() == column.value">
          #{item.updatedAt,jdbcType=TIMESTAMP}
        </if>
        <if test="'del_flag'.toString() == column.value">
          #{item.delFlag,jdbcType=SMALLINT}
        </if>
        <if test="'message'.toString() == column.value">
          #{item.message,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
  <insert id="upsertSelective" keyColumn="transaction_point_history_id" keyProperty="transactionPointHistoryId" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory" useGeneratedKeys="true">
    insert into transaction_point_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        transaction_point_history_id,
      </if>
      <if test="transactionPointId != null">
        transaction_point_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="transactionTime != null">
        transaction_time,
      </if>
      <if test="transactionType != null">
        transaction_type,
      </if>
      <if test="amountPoint != null">
        amount_point,
      </if>
      <if test="transactionStatus != null">
        transaction_status,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="totalPoint != null">
        total_point,
      </if>
      <if test="restPoint != null">
        rest_point,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        #{transactionPointHistoryId,jdbcType=BIGINT},
      </if>
      <if test="transactionPointId != null">
        #{transactionPointId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="transactionTime != null">
        #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionType != null">
        #{transactionType,jdbcType=SMALLINT},
      </if>
      <if test="amountPoint != null">
        #{amountPoint,jdbcType=INTEGER},
      </if>
      <if test="transactionStatus != null">
        #{transactionStatus,jdbcType=SMALLINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null">
        #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="restPoint != null">
        #{restPoint,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=SMALLINT},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT},
      </if>
      <if test="transactionPointId != null">
        transaction_point_id = #{transactionPointId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="transactionTime != null">
        transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionType != null">
        transaction_type = #{transactionType,jdbcType=SMALLINT},
      </if>
      <if test="amountPoint != null">
        amount_point = #{amountPoint,jdbcType=INTEGER},
      </if>
      <if test="transactionStatus != null">
        transaction_status = #{transactionStatus,jdbcType=SMALLINT},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null">
        total_point = #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="restPoint != null">
        rest_point = #{restPoint,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=SMALLINT},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="upsert" keyColumn="transaction_point_history_id" keyProperty="transactionPointHistoryId" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory" useGeneratedKeys="true">
    insert into transaction_point_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        transaction_point_history_id,
      </if>
      transaction_point_id,
      user_id,
      transaction_time,
      transaction_type,
      amount_point,
      transaction_status,
      device_id,
      total_point,
      rest_point,
      created_by,
      created_at,
      updated_by,
      updated_at,
      del_flag,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        #{transactionPointHistoryId,jdbcType=BIGINT},
      </if>
      #{transactionPointId,jdbcType=BIGINT},
      #{userId,jdbcType=BIGINT},
      #{transactionTime,jdbcType=TIMESTAMP},
      #{transactionType,jdbcType=SMALLINT},
      #{amountPoint,jdbcType=INTEGER},
      #{transactionStatus,jdbcType=SMALLINT},
      #{deviceId,jdbcType=VARCHAR},
      #{totalPoint,jdbcType=INTEGER},
      #{restPoint,jdbcType=INTEGER},
      #{createdBy,jdbcType=BIGINT},
      #{createdAt,jdbcType=TIMESTAMP},
      #{updatedBy,jdbcType=BIGINT},
      #{updatedAt,jdbcType=TIMESTAMP},
      #{delFlag,jdbcType=SMALLINT},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT},
      </if>
      transaction_point_id = #{transactionPointId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      transaction_type = #{transactionType,jdbcType=SMALLINT},
      amount_point = #{amountPoint,jdbcType=INTEGER},
      transaction_status = #{transactionStatus,jdbcType=SMALLINT},
      device_id = #{deviceId,jdbcType=VARCHAR},
      total_point = #{totalPoint,jdbcType=INTEGER},
      rest_point = #{restPoint,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=SMALLINT},
    </trim>
  </insert>
  <insert id="upsertWithBLOBs" keyColumn="transaction_point_history_id" keyProperty="transactionPointHistoryId" parameterType="jp.co.htkk.entity.generator.TransactionPointHistory" useGeneratedKeys="true">
    insert into transaction_point_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        transaction_point_history_id,
      </if>
      transaction_point_id,
      user_id,
      transaction_time,
      transaction_type,
      amount_point,
      transaction_status,
      device_id,
      total_point,
      rest_point,
      created_by,
      created_at,
      updated_by,
      updated_at,
      del_flag,
      message,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        #{transactionPointHistoryId,jdbcType=BIGINT},
      </if>
      #{transactionPointId,jdbcType=BIGINT},
      #{userId,jdbcType=BIGINT},
      #{transactionTime,jdbcType=TIMESTAMP},
      #{transactionType,jdbcType=SMALLINT},
      #{amountPoint,jdbcType=INTEGER},
      #{transactionStatus,jdbcType=SMALLINT},
      #{deviceId,jdbcType=VARCHAR},
      #{totalPoint,jdbcType=INTEGER},
      #{restPoint,jdbcType=INTEGER},
      #{createdBy,jdbcType=BIGINT},
      #{createdAt,jdbcType=TIMESTAMP},
      #{updatedBy,jdbcType=BIGINT},
      #{updatedAt,jdbcType=TIMESTAMP},
      #{delFlag,jdbcType=SMALLINT},
      #{message,jdbcType=LONGVARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="transactionPointHistoryId != null">
        transaction_point_history_id = #{transactionPointHistoryId,jdbcType=BIGINT},
      </if>
      transaction_point_id = #{transactionPointId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      transaction_type = #{transactionType,jdbcType=SMALLINT},
      amount_point = #{amountPoint,jdbcType=INTEGER},
      transaction_status = #{transactionStatus,jdbcType=SMALLINT},
      device_id = #{deviceId,jdbcType=VARCHAR},
      total_point = #{totalPoint,jdbcType=INTEGER},
      rest_point = #{restPoint,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=SMALLINT},
      message = #{message,jdbcType=LONGVARCHAR},
    </trim>
  </insert>
</mapper>